/* Global reset added removed from body */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:#fff;
  font-family:Helvetica, Arial, sans-serif;
}

.header {
  background-color:#1f2937;
  height: 85vh;
  width:100vw;
  margin-top:0;
  color: #e5e7eb;
}

.header_links {
  display: flex;
  justify-content:space-between;
  align-items: center;
  /* absolute unit values should not be used, think about changing to rem */
  /* 1rem = 16px this way the unit is more responsive */
  margin-left: 250px;
  margin-right: 150px;
}

/* this class is useless with the new global reset */
.logo {
  padding: 0;
  margin:0;
}

.header_links h3 {
  color: #f9faf8;
  /* absolute value again */
  font-size: 24px;
  transition: 0.5s;
  /* no need for the px here */
  font-weight: 900px;
}

span {
  /* should be hex value */
  color:lime;
}

.header_links h3:hover {
  background-color: transparent;
  border: 1px solid limegreen;
  /* you can use rem here as well */
  padding: 10px 20px;
  cursor:pointer;
}
nav {
  font-size:18px;
} 
nav ul {
   list-style-type: none;
   display:flex;
   justify-content: center;
   align-items: center;
   /* rem can be used here also */
   gap: 40px;
   transition: 0.5s;
   cursor: pointer;
}
li:hover {
   border: 1px solid limegreen;
   background-color: transparent;
  /* 20px font size is 16/20= 1.25rem */
   font-size:20px;
   color: lime;
   text-decoration: underline;
   padding: 10px 20px;
   cursor:pointer;
}
.header_content {
   display: flex;
   margin-right: 150px;
   margin-left: 250px;
   margin-top: 120px;
   margin-bottom:auto;
}
.header_content .left {
   display: flex;
   flex-direction: column;
   flex-wrap:wrap;
   align-items:flex-start;
   flex-basis: 45%;

}
.header_content .left h1 {
   font-size: 48px;
   font-weight: 1000;
   color:#f9faf8;
   padding:0;
   margin:0;
}
.header_content .left p {
   margin-top:0;
   margin-bottom:15px;
   font-size:18px;
   color:#e5e7eb;
}

.header_content .left button {
    padding:10px 40px;
    background-color:limegreen;
    font-size:20px;
    color: #ffffff;
    border-radius:8px;
    font-weight:bolder;
    cursor: pointer;
}
.left button:hover {
   border: 1px solid lime;
   background-color:transparent;
   color:lime;
}
.header_content .right {
   display: flex;
   flex-basis: 50%;
   margin-left: 100px;
   background-image: url("../images/elect.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}
.main .elect_materials {
  font-size:18px;
  color:#333;
  padding:1%;
}
.elect_materials .heading {
  text-align:center;
}
.elect_materials .heading h3 {
  color:#1f2937;
  font-size: 36px;
  font-weight:1000px;
}
.image-container {
  display: flex;
  justify-content:center;
  align-items:center;
  gap: 60px;
}
.image-container .images {
  width:200px;
  height: 200px;
  border:5px solid #3882f6;
  border-radius:20px;
  margin-top: 20px;
}
.image-container .images span {
  font-size: 18px;
  margin-top: 200px;
  color:#333;
  display:block;
  padding-top:20px;
}

/*
redundant code try to use the DRY method (Do Not Repeat Yourself)
you can should think about learning SCSS to help here
simple fix would be to delete most of this it will also load faster and cleaner
and only add the url to the .imageX lines

.elect_materials .image-container {
  background-position: center;
  background-repeat:no-repeat;
  background-size:cover;
}

.elect_materials .image-container .image1 {
  background-image:url("../images/amplifier-network.jpg");
}

.elect_materials .image-container .image2 {
  background-image:url("../images/cable-gland.jpg");
}

*/

.elect_materials .image-container .image1 {
  background-image:url("../images/amplifier-network.jpg");
  background-position: center;
  background-repeat:no-repeat;
  background-size:cover;

}
.elect_materials .image-container .image2 {
  background-image:url("../images/cable-gland.jpg");
  background-position: center;
  background-repeat:no-repeat;
  background-size:cover;

}
.elect_materials .image-container .image3 {
  background-image:url("../images/lowvolt.jpg");
  background-position: center;
  background-repeat:no-repeat;
  background-size:cover;

}
.elect_materials .image-container .image4 {
  background-image:url("../images/speaker.jpg");
  background-position: center;
  background-repeat:no-repeat;
  background-size:cover;

}
.quote {
  padding: 8% 20%;
  background-color:#e5e7eb;
  font-size: 36px;
  text-align:center;
  color:#1f2937;
  text-transform: italic;
  margin-top: 280px;
}
strong {
  font-size: 25px;
  font-weight:bolder;
}
.blue_section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* the following can be condensed to one line as shown but shouldn't be px */
  /* margin: 100px 180px 100px 230px; */
  margin-top:100px;
  margin-bottom:100px;
  margin-left:230px;
  margin-right: 180px
  padding-top:100px;
  border-radius:10px;
  padding-bottom:60px;
  padding-right:60px;
  background-color:#3882f6;
}
.blue_section .blue_content {
  gap: 70px;
  color:#ffffff;
  padding:0;
  margin:0;
}
.blue_content h3,
.blue_content p {
  padding:0;
  margin:0;
}
.blue_content h3 {
  font-size: 25px;
}   
.blue_content p {
  font-size: 18px;
}

.blue_section button {
  padding:10px 40px;
  background-color:#3882f6;
  font-size:20px;
  color: #ffffff;
  border-radius:8px;
  font-weight:bolder;
  border:3px solid #ffffff
}
.blue_section button:hover {
  /*
  use this program to help pick colors off your screen
  https://annystudio.com/software/colorpicker/
  #00ff00 is the same as lime
   */
 border: 1px solid lime;
 background-color:transparent;
 color:lime;
 cursor:pointer;
}
.footer {
  margin:0;
  padding:2%;
  text-align:center;
  background-color:#1f2937;   
  color:#f9faf8;
  font-size: 18px;
}
